/* Work sans font from google */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,500;0,700;0,800;1,700&display=swap');
*{
    font-family: 'Open Sans', sans-serif;
}
/* header */
header{

    padding: 50px 100px;

}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;

}
nav >ul {
    display: flex;
}
nav li{
    list-style: none;
    margin-right: 50px;
    font-weight: 700;
    font-size: 1rem;
}
nav li a{
    text-decoration: none;
    color: #0e0d0d;
}
/* nav title */
.nav-title{
    font-size: 1.25rem;
    font-weight:600;
    color: #131313;
}

.title-span-color{
    color: #F948B2;
}

/* header follow us on icon set up */
/* .fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border: 1px solid blue;
    padding: 10px;
  } */
  .fa {
    padding: 10px ;
    font-size: 1rem;
    width:10px;
    text-align: center;
    text-decoration: none;
    margin: 20px 15px;
    border-radius: 50%;
  }
  .fa:hover {
    opacity: .7;
}

.fa-facebook {
  background: #3B5998;
  /* border-radius:2px solid #bb0000 ; */
  color: white;
}
.fa-youtube {
    background: #bb0000;
    color: white;
  }
  
.lastbox{
    /* width: 262px;
    height: 56px;
    padding: 5px;
    flex-shrink: 0;;
    border-radius: 20px;
    text-align: center;
    background: rgba(11, 2, 35, 0.10); */
    width: 220px;
    height: 50px;
    border-radius: 8px;
    border: none;
    background: rgba(11, 2, 35, 0.10);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: #3C354F;
    font-size: 1.125rem;
    font-weight: 500;
  }
/* .box{
    width: 901px;
    height: 700px;
    flex-shrink: 0;
    background-image: url(/images/Group\ 14.png);
    fill: linear-gradient(223deg, rgba(140, 87, 238, 0.03) 0%, rgba(241, 68, 174, 0.03) 100%);
    text-align: left;

} */
.container {
    display: flex;
    align-items: center;
  }

  .text {
    flex: 1;
    padding: 20px;
  }

  .image {
    flex: 1;
    flex-shrink: 0;
    text-align: right;
  }
  .box {
    width: 901px;
    height: 600px;
    background-image: url('/images/Group\ 14.png');
    background-size: cover;
    background-position: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    padding: 20px;
    text-align: center;
    font-size: 20px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  }
  .box p{
    text-align: left;
  }

.bannar-title{
    color: #0B0223;
    text-align: left;
    font-family: Work Sans;
    font-size: 28px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;
}
  
.gtitle{
    text-align: left;
    font-family: Work Sans;
    font-size: 45px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
/* .banarcontent p{
    color: #534C64;
    text-align: left;
    font-family: Work Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: lowercase;
} */
/* .banarcontent img{
    width: 24px;
    height: 24px;
    flex-shrink: 0;
} */
.signin{
    background-color: #F948B2;
    display: inline-flex;
    padding: 21px 40px;
    align-items: flex-start;
    gap: 10px;
    border-radius: 40px;
    font-weight: 700;
    color:white ;
    text-align: center;
}
.gorogue{
    display: inline-flex;
    font-weight: 700;
    color:white ;
    padding: 21px 40px;
    border-radius: 40px;
    align-items: flex-start;
    gap: 10px;
    background-color: aqua;
}
.gamers{
    text-align: right;
}
.gamers h2{
    color: #F948B2;
    font-weight: 600;
    font-size: 45px;
    text-align: right;
}
.gamers h4{
    font-weight: 600;
    font-size: 30px;
    color: gray;
}
.text{
    color: gray;
    font-size: 20px;
    font-weight: 800;
}
.funny{
    text-align: center;
}
.funny .title-span-color{
    color: #F948B2;
}
.funny h2{
    font-size: 30px;
}
.funny .textf{
    color: gray;
}
.videoimg{
    display: flex;
    justify-content: space-around;
    padding:10px;
    gap: 10px;    
}
.videoimg .gameimg{
    border-radius: 8px;
    border: 1px solid #FF900E;
    text-align: center;
    padding: 10px;
    
}
.videoimg .gameimg p{
    color: gray;

}
.videoimg .gameimg img{
    width: 150px;
    height: 150px;

}
.box1 {
    width: 500px;
    height: 300px;
    background-image: url('/images/Group\ 14.png');
    background-size: cover;
    background-position: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    padding: 20px;
    text-align: center;
    font-size: 20px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  }
  .featureimg img{
    height: 90%;
    margin-left: 90px;

}
.small-img-container{
    border-radius: 8px;
    color: #fff;
    text-align: center;
    position: relative;
    bottom: 100px;

}
.small-img-container img{
    height: 250px;
    width: 200px;
}
/* carrer */
/* .carrer{
    background-color: #F948B2;
    text-align: left;
    padding: 20px;
    color: white;

}
.carrer-contain{
    display: flex;
    justify-content: left;
}
.carrer h3{
font-size: 25px;
font-weight: 800;
color: white;
}
.textbox {
    width: 45%;
    padding: 10px;
  }
.carrer .imagecar{
    width: 150px;
    height: 150px;
    display: flex;
    justify-content: left;
    margin-top: 0;
gap: 0;
}
.btn{
    background-color: #dbced6;
    display: inline-flex;
    padding: 21px 40px;
    align-items: flex-start;
    border-radius: 20px;
    font-weight: 700;
    color:#F948B2 ;
    text-align: center;   
} */

.careersection {
    background: #F948B2;
    background-image: url('/images/Group\ 14.png');
    background-repeat: no-repeat;
    background-position: right;
    background-size: 60% 100%;
    padding: 120px 0;
    margin-top: 80px;
}

.careerwrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
}

.careercontent {
    width: 55%;
}
.careerphoto {
    width: 45%;
}

.careersection .sectiontitle,
.careersection .sectiondescription{
    text-align: left;
    color: #fff;
}
.sectiontitle{
    font-size: 45px
}
.careervacancywrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 32px;
    padding-bottom: 40px;
}

.careervacancywrapper p {
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    line-height: 40px;
}

.careersection .btn-primary {
    color: #FF42A5;
}

/* .gicon{
    text-align: center;
}
.gicon-img{
    margin-top: 50px;
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    gap: 20px;
}
.gicon-img img{
    width: 165px;
} */

.game-category-section {
    padding: 100px 0;
    background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%);
}
.game-category-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 10px;
}

.game-category-item {
    display: flex;
    align-items: center;
    gap: 16px;
    border-radius: 50px;
    background: #FFF;
    padding-left: 5px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    border: 1px solid #fff;
    transition: all 0.3s;
    
}

.game-category-item:hover{
    border: 1px solid #FF42A5;
    transition: all 0.3s;
}

.game-category-item:hover p {
    color: #FF42A5;
    transition: all 0.3s;
}

.game-category-item img {
    width: 60px;
    height: 60px;
}
.game-category-item p {
    color: #0B0223;
    font-size: 20px;
    font-weight: 600;
}
/* footer */

footer {
    background: #0b0223;
  }
  footer h1 {
    font-size: 45px;
    font-weight: 700;
    color: #fff;
    font-size: 45px;
    font-weight: 700;
    margin-left: 20px;
  }
  .f-header {
    display: flex;
    text-align: center;
    justify-content: center;
    margin-top: 120px;
    margin-bottom: 60px;
    padding-top: 100px;
  }
  .f-p {
    color: #fff;
    text-align: center;
    font-size: 18px;
    font-weight: 600;
    display: flex;
    justify-content: center;
  }
  .footer-p {
    color: rgba(255, 255, 255, 1);
    margin-right: 60px;
    margin-bottom: 50px;
  }
  .footer-icon {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
  }
  .f-icon {
    margin-right: 40px;
  }
  .f-description {
    color: rgba(255, 255, 255, 0.6);
    text-align: center;
    font-size: 16px;
    font-style: normal;
    display: flex;
    justify-content: center;
  }
  .f-des{
      margin-right: 50px;
      margin-bottom: 30px;
  }
  .f-last{
      text-align: center;
      justify-content: center;
      padding-bottom: 130px;
  }

  @media screen and (max-width: 576px) {
    header {
      width: 100%;
      margin-left: 200px;
    }
    nav {
      background: #fff;
      box-shadow: none;
      margin-left: 100px;
    }
    .container {
      flex-direction: column;
      margin-top: 35px;
    }
    .box {
      width: 100%;
      margin-left: 200px;
    }
    .gtitle {
      font-size: 50px;
      font-weight: 800;
    }
  
    
    .image {
      width: 100%;
      padding-left: 200px;
    }
    .videoimg {
      flex-direction: column;
      align-items: center;
      gap: 30px;
    }
    .funny {
      margin-left: 85px;
      padding-left: 120px;
    }

    /*! Game Types Section Styles  */
    .game-category-section {
      grid-template-columns: repeat(3, 1fr);
      margin-left: 150px;
    }
    .game-category-item:nth-child(n + 6) {
      margin-left: 0px;
    }
    .game-category-item {
      width: 150px;
      height: 60px;
      border-radius: 50px;
      background: #f7f3f3;
      padding: 5px;
    }
    footer {
      width: 1100px;
      height: 100%;
      overflow: hidden;
    }
  }
  
  /* Tablet Screen  */
  @media screen and (min-width: 577px) and (max-width: 992px) {
        header {
          margin-left: 150px;
        }
    nav {
      background: #fff;
      box-shadow: none;
    }
    .container{
      flex-direction: column;
      gap: 25px;
    }
    .container {
      flex-direction: column;
      margin-top: 35px;
      justify-content: center;
      gap: 5px;
    }
    .gtitle {
      font-size: 70px;
      font-weight: 800;
    }
    .banner-img-container {
      width: 100%;
      text-align: center;
    }
    .videoimg {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 20px;
    }
    .funny{
      margin-left: 85px;
    }
    .play-games-container {
      flex-direction: column-reverse;
      justify-content: center;
      overflow: hidden;
    }
   
    .play-games-img {
      width: 100%;
      border-radius: 8px;
      margin-top: 50px;
    }
    .small-img-container {
      position: relative;
      left: 350px;
      bottom: 150px;
    }

    .gamers {
      margin-left: 50px;
    }
    .game-category-section {
      grid-template-columns: repeat(3, 1fr);
      margin-left: 90px;
      margin-top: px;
    }
    .game-category-item:nth-child(n + 6) {
      margin-left: 0px;
    }
    .game-category-item {
      gap: 10px;
      width: 150px;
      height: 60px;
      border-radius: 50px;
      background: #f7f3f3;
      padding: 5px;
    }

    .game-category-section {
        padding: 100px 0;
        background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%);
    }
    .game-category-wrapper {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        gap: 10px;
    }
    
    .game-category-item {
        display: flex;
        align-items: center;
        gap: 16px;
        border-radius: 50px;
        background: #FFF;
        padding-left: 5px;
        padding-right: 10px;
        padding-top: 5px;
        padding-bottom: 5px;
        border: 1px solid #fff;
        transition: all 0.3s;
        
    }
    
    .game-category-item:hover{
        border: 1px solid #FF42A5;
        transition: all 0.3s;
    }
    
    .game-category-item:hover p {
        color: #FF42A5;
        transition: all 0.3s;
    }
    
    .game-category-item img {
        width: 60px;
        height: 60px;
    }
    .game-category-item p {
        color: #0B0223;
        font-size: 20px;
        font-weight: 600;
    }

    footer {
      width: 1100px;
      height: 100%;
    }
  }